/checkpoints
/datasets
/scripts/wandb
/joint_embedding_learning.egg-info
/joint_embedding_learning/barlow_twins_paper_implementation
/joint_embedding_learning/ijepa_paper_implementation
/joint_embedding_learning/T3_paper_implementation
/results
/joint_embedding_learning/ijepa/logs